th,
td {
  border: 1px solid rgb(136, 136, 136);
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.UsersListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
