.FormInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.FormInput__input {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.FormInput__label {
  font-size: 12px;
  color: rgb(63, 63, 63);;
}

.FormInputError {
  font-size: 12px;
  margin-bottom: 10px;
  color: red;
  visibility: hidden;
}

.FormInput__input[focused='true']:invalid {
  border: 1px solid red;
}

.FormInput__input[focused='true']:invalid ~ .FormInputError {
  visibility:visible;
}
